In [1]:
# extract information with age greater than 25 from the following list of dictionaries
data = [{"name": "Alice", "age": 28}, {"name": "Bob", "age": 24}, {"name": "Charlie", "age": 30}]
extracted_data = [item for item in data if item['age'] < 25]
extracted_data

[{'name': 'Bob', 'age': 24}]

In [11]:
# use list comprehension to flatten the matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_matrix = [num for row in matrix for num in row]
flattened_matrix
first_column = [row[0] for row in matrix]  # 提取每一行的第一个元素
first_column

[1, 4, 7]

In [13]:
new_df = matrix[1:2]
new_df

[[4, 5, 6]]

In [24]:
# how to flatten a 3d matrix
three_d_matrix = [[[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3], [1, 2, 3]]]
flattened_matrix = [num for layer in three_d_matrix for row in layer for num in row]

print(flattened_matrix)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
# use enumerate() for looping to add 5 extra point to each grade in the list, the 5th one add 10 
grades = [88, 92, 78, 65, 50, 94]
adjusted_grades = [
    grade + 10 if i == 4 else grade + 5  # Add 10 for the 5th grade, otherwise add 5
    for i, grade in enumerate(grades)
]
adjusted_grades

[93, 97, 83, 70, 60, 99]

In [22]:
for i, grade in enumerate(grades):
    if i == 4:
        grades[i] = grade + 10
    else:
        grades[i] = grade + 5
grades

[113, 117, 103, 90, 100, 119]

In [23]:
def is_prime(n):
    if n <= 1:
        return False  # 小于等于1的数字不是质数
    for i in range(2, int(n ** 0.5) + 1):  # 检查是否有从2到sqrt(n)的因子
        if n % i == 0:
            return False
    return True

# 使用列表推导式筛选质数
prime_grades = [grade for grade in grades if is_prime(grade)]

prime_grades

[113, 103]

In [13]:
# filter out elements depend on their index: 
# use list comprehension and enumerate() to get elements with even index
data = [100, 200, 300, 400, 500]

In [7]:
[item for i, item in enumerate(data) if i%2 == 0]

['calories']

In [6]:
import pandas as pd

data = {
    "calories":['test',101,102],
    "duration":[10,20,30],
    "duration1":[10,20,30]
}
df = pd.DataFrame(data)
df

  calories  duration  duration1
0     test        10         10
1      101        20         20
2      102        30         30

In [7]:
# create a dictionary from lists using zip()
keys = ['name', 'age', 'grade']
values = ['Alice', 25, 'A']
dictionary = dict(zip(keys, values))

dictionary

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [16]:
{key: value for key, value in zip(keys, values)}

{'name': 'Alice', 'age': 25, 'grade': 'A'}

In [17]:
# sort the dictionary based on the ages using lambda
students = [
    {'name': "John", 'grade': "A", 'age': 20}, 
    {'name': "Jane", 'grade': "B", 'age': 21}, 
    {'name': "Joss", 'grade': "A+", 'age': 19}, 
    {'name': "Jack", 'grade': "A-", 'age': 16}, 
    {'name': "Dave", 'grade': "C", 'age': 25}, 
]

In [18]:
sorted(students, key=lambda student: student['age'])

[{'name': 'Jack', 'grade': 'A-', 'age': 16},
 {'name': 'Joss', 'grade': 'A+', 'age': 19},
 {'name': 'John', 'grade': 'A', 'age': 20},
 {'name': 'Jane', 'grade': 'B', 'age': 21},
 {'name': 'Dave', 'grade': 'C', 'age': 25}]

In [21]:
# Sort by age, then by salary if ages are the same
# use lambda
employees = [
    {'name': 'Alice', 'age': 30, 'salary': 80000},
    {'name': 'Bob', 'age': 25, 'salary': 50000},
    {'name': 'Charlie', 'age': 35, 'salary': 120000},
    {'name': 'Charlie', 'age': 35, 'salary': 12000}
]

In [22]:
sorted(employees, key=lambda employee: (employee['age'], employee['salary']))

[{'name': 'Bob', 'age': 25, 'salary': 50000},
 {'name': 'Alice', 'age': 30, 'salary': 80000},
 {'name': 'Charlie', 'age': 35, 'salary': 12000},
 {'name': 'Charlie', 'age': 35, 'salary': 120000}]

In [45]:
# Generators are highly useful in data-heavy applications:

# Reading Large Files: Use generators to read large files line by line without loading the entire file into memory.
# Data Streaming: Stream data entries for real-time data processing.
# Large Calculations: Break down massive calculations into smaller, more manageable chunks.